<!-- seccion de identificacion propia -->
<div class="container ">
    <div class="row seccion-personal">
        <div class="foto-propia col-2 offset-5">
            <br>
            <br>
            <br>
            <img src="../../../assets/foto propia.jpg" alt="">
        </div>
        
    </div>
</div>

<div class="container seccion-personal">
    <div class="row col-12">
        <div class="info">
            <br>
            <h2>Lezcano Agustin</h2>
            <p>Full Stack Developer Jr</p>
        </div>
    </div>
</div>


<!-- seccion de informacion propia -->
<section class="container datos-personales">
    <div class="row col-12">
        <div class="sobre-mi">
            <img src="../../../assets/informacion.png">
            <h3>sobre mi</h3>
            <hr>
            <hr id="barra">
            <p>Hola! me presento soy <span class="importante">Agustin Lezcano</span>, soy un programador web buscando nuevas herramientas para una <span class="importante"> mejor version</span> propia en el hambito de la programacion</p>
        </div>
    </div>
</section>
<br>
<!-- seccion de lista personal-->
<section class="container-fluid">
    <div class=" row col-11 col-sm-9 col-md-11 col-lg-11 lista-personal offset-1  offset-sm-3 ">
        <h4>Lista personal</h4>
        <hr>
        <table>
            <tbody><tr>
                <td class="import">Nacido</td>
                <td class="b">08-06-2005</td>
            </tr>
            <tr>
                <td class="import">Telefono</td>
                <td class="b">+54 2241562603</td>
            </tr>
            <tr>
                <td class="import">Email</td>
                <td class="b">tatilezcano03@gmail.com</td>
            </tr>
        </tbody></table>
    </div>
</section>

    <!-- seccion de hobbys personal-->
<section class="container">
    <div class="hobby">
        <h4>My hobby</h4>
        <hr>
    </div>

   <div class="recuadro">
    <div class="hobby">
        <div class="cuadro">
            <img src="../../../assets/gameboy.png" alt="">
            <p class="">juegos</p>
        </div>
        <div class="cuadro">              
             <img src="../../../assets/codigo.png" alt="">
            <p>programacion</p>
        </div>
        <div class="cuadro">
            <img src="../../../assets/caffe.png" alt="">
            <p>cafe</p>
        </div>
        <div class="cuadro">
            <img src="../../../assets/musica.png" alt="">
            <p>musica</p>
        </div>
    </div>
   </div>
</section>
