<!-- seccion de porcentajes tecnicos como profesionales-->
<section class="container-fluid">
    <div class="row titulos-de-progresos col-12">
        <img src="../../../assets/grafico.png">
        <h3>progresos</h3>
        <hr>
        <hr id="barras">
    </div>
    <div class="progreso-tecnico">
        <h4>Tecnico</h4>
        <hr>
        <h5>HTML</h5>
        <div class="progres-bar">
            <div class="progres" style="--w:80%"></div>
        </div>
        <h5>CSS</h5>
        <div class="progres-bar">
            <div class="progres" style="--w:35%"></div>
        </div>
        <h5>POTHOSHOP</h5>
        <div class="progres-bar">
            <div class="progres" style="--w:10%"></div>
        </div>
    </div>

    <div class="progreso-profesional">
        <h4>Profesional</h4> 
        <hr>
        <h5>EFICACIA</h5>
        <div class="progres-bar">
            <div class="progres" style="--w:90%"></div>
        </div>
        <h5>TRABAJO EN GRUPO</h5>
        <div class="progres-bar">
            <div class="progres" style="--w:50%"></div>
        </div>
        <h5>COMPAÑERISMO</h5>
        <div class="progres-bar">
            <div class="progres" style="--w:80%"></div>
        </div>
    </div>
</section>
